.search-box {
  padding-left: 10px;
  background-color: white;
  border: solid 2px #e2e8f0;
  color: gray;
  height: 1.9rem;
  margin-top: 1.5rem;
  margin-left: 20px;
  margin-bottom: 1rem;
  width: calc(100% - 50px);
  max-width: 385px;
  z-index: 14;
  border-radius: 10px;
 
}

.search-box:focus {
  border:2px solid gray;
  outline: none !important;
}

hr {
  border: 0.5px solid #e2e8f0;
  margin: 10px 18px;
  width: calc(100% - 34px);
}

input::placeholder {
  color: darkgray;
}

.search-wrap-div {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 0 5%;
  height: 500px;
  margin: 20px 20px;
  overflow:scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.search-wrap-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
