.search-card {
  border: 1px solid #e2e8f0;
  box-shadow: 1px 1px 1px 1px #e2e8f0;
  border-radius: 10px;
  margin-top: 10%;

}

.search-card-img {
  display: flex;
  justify-content: center;
}

.search-card-img img {
  height: 10rem;
  width: 80%;
}

.search-card-p {
  background-color: none;
  color: black;
  font-weight: bolder;
  font-size: 10.5px;
  font-weight: 200;
  height: 20px;
  line-height: 20px;
  //display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 3px);
  padding-left: 3px;
}

